# Auto detect text files and perform LF normalization
* text=auto
<HTML>
<P><strong>nombre:</strong>LUISA FERNANADA GOMEZ</P>
<P><strong>programa:</strong>INGENIERIA DE SISTEMAS</P>
<P><strong>fecha de creación:</strong> 05 de Septiembre
<P><strong>datos de contacto:</strong> cel:3227146306,Skipe:lfgom18</P>
